@model Books.Domain.Models.Book
@{
    ViewData["Title"] = "Elimiinar libro";
}

<div class="text-center">
    <h1 class="display-4">Está seguro de eliminar este registro?</h1>
</div>
<div>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Delete" asp-controller="Book">
               <input type="hidden" asp-for="BookId" />
                <div class="col-md-3">
                  <label asp-for="BookName"> Nombre: </label>
     
                    <label>  @Model.BookName </label>
                </div>
                <div class="col-md-3">
                    <label asp-for="Author"> Autor: </label>
               
                    <label>  @Model.Author </label>
                </div>
                <div class="col-md-3">
                    <label asp-for="ReleaseYear"> </label>
              
                    <label>  @Model.ReleaseYear </label>
                </div>
                <div class="col-md-3">
                 <button type="submit" class="btn btn-danger" >Eliminar</button>
                </div>
            </form>
          
        </div>
    </div>

 
</div>