body {
    font-family:'Times New Roman', sans-serif;
    margin:0;
    padding:0;
}
h1 {
    background-color:azure;
    text-align:center;
    padding:20px;
}
#important {
    background-color: aqua;
    margin: 20px;
    padding: 20px;
    margin: 20px;
}

@media (max-width:600px){
    h1{
        background-color: wheat;
        font-size:30px;
        padding:20px;
        margin: 0;
    }
    p{
        font-size:14px;
        padding:10px;
        margin: 0;
    }
}
@media (min-width:600px) {
    h1 {
        background-color: aquamarine;
        font-size: 36px;
        padding: 30px;
        margin: 20px;
    }

    p {
        font-size: 20px;
        padding: 25px;
        margin: 20px;
    }
}